<%= form_for @search, :url => '' do |s| %>
    <label><%= t("date_range") %></label><br />
    <div class="yui-g date-range-filter">
      <div class="yui-u sub-field first">
        <%= s.text_field :created_at_greater_than, :class => 'datepicker' %><br />
        <label class="sub"><%= t("start") %></label>
      </div>
      <div class="yui-u sub-field">
        <%= s.text_field :created_at_less_than, :class => 'datepicker' %><br />
        <label><%= t("stop") %></label>
      </div>
      <div class="yui-u sub-field">
        <%= s.check_box :completed_at_is_not_null, :style => 'vertical-align: middle' %><br />
        <label><%= t("only_show_complete_orders") %></label>
      </div>
    </div>

    <p><%= button t("search") %></p>
<% end %>

